<div class="container">

    <div class="row">

        <div class="col-lg-12 dacian">
            <h1 class="page-header">About
            </h1>
            <ol class="breadcrumb">
                <li><a href="../index.html">Home</a>
                </li>
                <li class="active">About</li>
            </ol>
        </div>

    </div>

    <div class="row">

    <div class="container col-lg-6 col-md-6">
<div id="myCarousel" class="carousel">

    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>


    <div class="carousel-inner" role="region">
        <div class="item active center-block">
		<img class="first-slide" src="resources/epilektoihoplitai.png" alt="First slide">
            <div class="carousel-caption">
                <h1></h1>
            </div>
        </div>
		<div class="item center-block">
		<img class="first-slide" src="resources/kareusearly.png" alt="First slide">
            <div class="carousel-caption">
                <h1></h1>
            </div>
        </div>
        <div class="item center-block">
		<img class="first-slide" src="resources/celticcavalrybritishrid.png" alt="Second slide">
            <div class="carousel-caption">
                <h1></h1>
            </div>
        </div>
        <div class="item center-block">
		<img class="first-slide" src="resources/indianinfantrymacemen.png" alt="Third slide">
            <div class="carousel-caption">
                <h1></h1>
            </div>
        </div>
        <div class="item center-block">
		<img class="first-slide" src="resources/swebozslinger.png" alt="Third slide">
            <div class="carousel-caption">
                <h1></h1>
            </div>
        </div>
        <div class="item center-block">
		<img class="first-slide" src="resources/indianelephantstandard.png" alt="Third slide">
            <div class="carousel-caption">
                <h1></h1>
            </div>
        </div>
</div>
</div>
        </div>
        <div class="col-lg-6 col-md-6">
                <h2>About the project</h2>

                <p>Europa Barbarorum II is a total conversion 
                modification (mod). It covers roughly the same time 
                period as the Imperial Campaign included with Rome: Total 
                War, but made for use with Medieval 2 Total War: 
                Kingdoms.</p>

                <p>Contrary to what the name might imply, Europa 
                Barbarorum is not solely focused on barbarian factions. 
                The name was derived from the roots of the project when 
                our desire was to portray barbarians more accurately, but 
                Europa Barbarorum 2 goes to great lengths to portray all 
                factions correctly, including Rome.</p>

                <p>The Europa Barbarorum project started in January 2004 
                as a team with the intent of informing The Creative 
                Assembly about the historical nature of the "barbarian" 
                factions in Rome: Total War. Our aim was to gather as 
                large an amount of historical information as we could 
                and pass it on to the Creative Assembly, prior to R:TW's 
                release, in order for their portrayal of the "barbarian" 
                factions in the game to be more accurate.</p>

                <p>Later, the team expanded their aim to also correcting 
                ahistorical representations everywhere on the map. 
                As it became clear that CA would not use this sort of 
                information, the group decided to transform the project 
                into a modification.</p>

                <p><a href="http://europabarbarorum.com/EB1/">Europa Barbarorum I created for R:TW</a> has received 
                <a href="#acclaim">critical acclaim</a> and has been downloaded well over 100,000 
                times for each version. Europa Barbarorum II created for 
                Medieval 2 Total War: Kingdoms aims to surpass everything 
                in Europa Barbarorum I.</p>

            </div>
        </div>

    </div>

</div>
<!-- /.container -->
