<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-lg-12 dacian">
            <h1 class="page-header">Contact</h1>
			<ol class="breadcrumb">
                <li><a href="../index.html">Home</a>
                </li>
                <li class="active">Links</li>
            </ol>
        </div>

    </div>
    <div class="row">

        <div class="col-lg-8">


<p>If you have any questions about in-game aspects of EB (e.g. faction history, traits, unit equipment, bugs, etc.), then they should be posted at our <a href="http://forums.totalwar.org/vb/forumdisplay.php?f=70">Forums</a> instead.</p>

<p>If you'd like to join the team then you can ask through the <a href="http://forums.totalwar.org/vb/forumdisplay.php?f=70">Forums</a>.<br>
A list of needed help can be found <a href="http://forums.totalwar.org/vb/showthread.php?t=66937">here</a>, which will be periodically updated.</p>

<p>Please check the <a href="http://forums.totalwar.org/vb/showthread.php?t=84854">EB FAQ</a> to see if any of your questions might have been answered already.</p>

<p>The contact persons' e-mails which were listed on this page before has been removed. This is because net-bots have acquired these e-mails and in turn the e-mails have had a vast increase in spammail. If you wish to get in touch with the EB team we advice you to do it through the forums.</p>

   
        </div>
<div class="col-log-8">

                <h2>Follow us on</h2>

                    <p><a href="http://forums.totalwar.org/vb/forumdisplay.php?235-Europa-Barbarorum-II">The Org</a></p>
                    <p class="comment">( The Org is our main forum; head there for bug reports and troubleshooting )</p>
                    <p><a href="https://www.facebook.com/europabarbarorum2?fref=ts">Facebook</a></p>
                    <p><a href="http://www.moddb.com/mods/europa-barbarorum-2/">Mod DB</a></p>
                    <p><a href="http://www.twcenter.net/forums/forumdisplay.php?454-Europa-Barbarorum-II">TWC</a></p>
                    <p><a href="https://twitter.com/EBTeam">Twitter</a></p>
                    <p><a href="https://www.youtube.com/user/europabarbarorum2">Youtube</a></p>

</div>
    </div>
    <!-- /.row -->

</div><!-- /.container -->