<div class="container">

    <div class="row">

        <div class="col-lg-12 dacian">
            <h1 class="page-header">Download
            </h1>
            <ol class="breadcrumb">
                <li><a href="../index.html">Home</a>
                </li>
                <li class="active">Download</li>
            </ol>
        </div>

    </div>
    <div class="row">

<div class="col-lg-3 col-md-3">
                <h2>Download</h2>

                <p><a href="magnet:?xt=urn:btih:96BEDCB23205BFE5135036249D462C6715D474A4&amp;dn=EBII&amp;tr=udp%3a%2f%2ftracker.ccc.de%3a80%2fannounce&amp;tr=udp%3a%2f%2ftracker.openbittorrent.com%3a80%2fannounce&amp;tr=udp%3a%2f%2ftracker.publicbt.com%3a80%2fannounce&amp;tr=http%3a%2f%2fannounce.torrentsmd.com%3a6969%2fannounce&amp;tr=http%3a%2f%2fbt.careland.com.cn%3a6969%2fannounce&amp;tr=udp%3a%2f%2fexplodie.org%3a6969%2fannounce&amp;tr=http%3a%2f%2fmgtracker.org%3a2710%2fannounce&amp;tr=http%3a%2f%2ftracker.best-torrents.net%3a6969%2fannounce&amp;tr=http%3a%2f%2ftracker.tfile.me%2fannounce&amp;tr=http%3a%2f%2ftracker1.wasabii.com.tw%3a6969%2fannounce&amp;tr=udp%3a%2f%2fcoppersurfer.tk%3a6969%2fannounce&amp;tr=udp%3a%2f%2fexodus.desync.com%3a6969%2fannounce&amp;tr=udp%3a%2f%2fopen.demonii.com%3a1337%2fannounce&amp;tr=udp%3a%2f%2ftracker.btzoo.eu%3a80%2fannounce">Magnet</a></p> 
                <p><a href="http://www.moddb.com/mods/europa-barbarorum-2/downloads/">Mod DB</a></p> 
                <p><a href="http://files.europabarbarorum.com/EBIIv21.zip">EB FTP</a></p>
                <p><a href="http://therother.totalwar.org/EBIIv21.zip">Org FTP</a></p>
                
                <h2>Patch</h2>                      

                <p><a href="magnet:?xt=urn:btih:5705508BEB487EC9EC7B87BF7C67066A7EAD13BC&amp;dn=EBII%20v2.1b.exe&amp;tr=udp%3a%2f%2ftracker.openbittorrent.com%3a80%2fannounce&amp;tr=udp%3a%2f%2ftracker.publicbt.com%3a80%2fannounce&amp;tr=udp%3a%2f%2ftracker.ccc.de%3a80%2fannounce" "="">Magnet</a></p> 
                <p><a href="http://www.moddb.com/mods/europa-barbarorum-2/downloads/">Mod DB</a></p> 
                <p><a href="http://www.gamefront.com/files/25401461/EBII+v2.1b.exe">Gamefront</a></p>
                <p><a href="ftp://ftp.europabarbarorum.com/EBII%20v2.1b.exe">EB FTP</a></p>
                <p><a href="http://therother.totalwar.org/EBIIv2.1b.exe">Org FTP</a></p>

<!--                
                <p><a href="http://forums.totalwar.org/vb/attachment.php?attachmentid=14373&d=1410552890">Torrent file</a></p>

                <p><a href="http://www.gamefront.com/files/files/24474559/EB_201.zip">Gamefront</a></p>
                <p><a href="http://www.moddb.com/mods/europa-barbarorum-2/downloads/europa-barbarorum-201">Mod DB</a></p> 
                <p><a href="http://www.nexusmods.com/medieval2totalwar/mods/2/?tab=2&navtag=http%3A%2F%2Fwww.nexusmods.com%2Fmedieval2totalwar%2Fajax%2Fmodfiles%2F%3Fid%3D2&pUp=1">Nexus Mods</a></p>


                <p><a href="ftp://theorg.co.uk/EB/EB_201.zip">The Org FTP</a></p>
                <p><a href="ftp://files.europabarbarorum.com/EB_201.zip">EB FTP</a></p>
-->

            </div>



	 <div class="col-lg-8 col-md-8">
                <h2>Installation Instructions</h2>

                <ol>

                    <li>Download the EBII installer using one of the provided 
                    download links.</li>
                    <li>The downloaded file is a zip archive, which means you 
                    need to unpack the installer files from the zip file. 
                    Windows Explorer should allow you to simply copy the 
                    contents out. If not, you can download 7-zip for 
                    the purpose.</li>
                    <li>Run EBII.exe.</li>
                    <li>Step through the install wizard.</li>
                    <li>Wait for the installer to copy all the files.</li>
                    <li>Run the mod using the shortcut placed in your 
                    start menu or desktop.</li>
                    <li>Download and install the patch.</li>


                </ol>

                <p>In the wizard, the default installation path is where 
                your copy of M2TW is installed. Unless you know what 
                you're doing, leave this unchanged.</p>
            </div>
	</div> <!--row-->

</div>

