
<div class="section">
    <div class="container">
<div id="myCarousel" class="carousel">

    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>


    <div class="carousel-inner"  role="listbox">
        <div class="item active center-block">
		<img class="first-slide center-block" src="resources/images/logo_image_1.jpg" alt="First slide">
            <div class="carousel-caption">
                <h1></h1>
            </div>
        </div>
        <div class="item center-block">
		<img class="first-slide center-block" src="resources/images/logo_image_6.jpg" alt="Second slide">
            <div class="carousel-caption">
                <h1></h1>
            </div>
        </div>
        <div class="item center-block">
		<img class="first-slide center-block" src="resources/images/logo_image_7.jpg" alt="Third slide">
            <div class="carousel-caption">
                <h1></h1>
            </div>
        </div>
        <div class="item center-block">
		<img class="first-slide center-block" src="resources/images/logo_image_8.jpg" alt="Third slide">
            <div class="carousel-caption">
                <h1></h1>
            </div>
        </div>
        <div class="item center-block">
		<img class="first-slide center-block" src="resources/images/logo_image_11.jpg" alt="Third slide">
            <div class="carousel-caption">
                <h1></h1>
            </div>
        </div>
        <div class="item center-block">
		<img class="first-slide center-block" src="resources/images/logo_image_12.jpg" alt="Third slide">
            <div class="carousel-caption">
                <h1></h1>
            </div>
        </div>
        <div class="item center-block">
		<img class="first-slide center-block" src="resources/images/logo_image_14.jpg" alt="Third slide">
            <div class="carousel-caption">
                <h1></h1>
            </div>
        </div>
</div>
</div>
</div>

<!--img src="resources/banner.png" alt="Banner" class="img-responsive center-block"-->
<h3 class="text-center main-header marathon">Europa Barbarborum 2</h1>
<h1 class="text-center main-header oswald">a total conversion of Medieval II Total War</h2>
</div>
</div>
<div class="section">
    <div class="container ">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <h3 class="dacian"><span class="marathon">~</span>  Command</h3>
                <p>EB2 adds more than 3000 new units to the game, each lovingly crafted in cubic zirconia. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent arcu ligula, sodales ac magna volutpat, rutrum venenatis est.</p>
            </div>
            <div class="col-lg-4 col-md-4">
                <h3 class="dacian"><span class="marathon">{</span>  Rule</h3>
                <p>Umpteen factions deepen the historical experience of yada yada. New scripts make neat things happen. Proin vulputate, nibh a viverra scelerisque, sem quam finibus sapien, sed congue justo justo et odio.</p>
            </div>
            <div class="col-lg-4 col-md-4">
                <h3 class="dacian"><span class="marathon">#</span>  Conquer</h3>
                <p>Regions with AOR do the dirka dirka. Quisque viverra nisl vitae nisl mollis tincidunt. Suspendisse vehicula urna pulvinar lorem sagittis fermentum.</p>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section -->

<div class="section-colored text-center">

    <div class="container">

        <div class="row">
            <div class="col-lg-12">
				<h3><q class="cinzel" style="font-size:100%">Auferre trucidare rapere falsis nominibus imperium, atque ubi solitudinem faciunt, pacem appellant.</q></h3>
				<p><q>To steal, to butcher, to plunder, is called the false name <em>empire</em>, and where they make a desert, they call it <em>peace</em>.</q></p>
				<p>Calgacus in Tacitus <cite>Agricola</cite> 30.6</p>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section-colored -->
<!--div class="section" id="acclaim">
    <div class="container">
	<div class="row text-center">
            <h2>Critically acclaimed by<sup><a href="http://en.wikipedia.org/wiki/Europa_Barbarorum#Reception">**</a></sup></h2>
 
            <div class="col-lg-4 col-md-4 col-sm-6">

                <img src="resources/reviews/ca.jpeg" id="ca" alt="CA logo">
                <img src="resources/reviews/gamestar.jpeg" id="gamestar" alt="Gamestar logo">

            </div>

            <div class="col-lg-4 col-md-4 col-sm-6">

                <img src="resources/reviews/320px-PC_Games_logo.png" id="pcgames" alt="PC Games logo">
                <img src="resources/reviews/heaven.jpeg" id="heaven" alt="Heavengames logo">

            </div>

            <div class="col-lg-4 col-md-4 col-sm-6">

                <img src="resources/reviews/pcgamer2.jpeg" id="pcgamer" alt="PC Gamer logo">
</div>
            </div>
</div>
        </div-->
<div class="section">

    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Screenshots</h2>
                <hr>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-home-portfolio" src="resources/1.jpg">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-home-portfolio" src="resources/2.jpg">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-home-portfolio" src="resources/3.jpg">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-home-portfolio" src="resources/5.jpg">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-home-portfolio" src="resources/6.jpg">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-home-portfolio" src="resources/7.jpg">
                </a>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section -->

<div class="section-colored">

    <div class="container">

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <h2>Europa Barbarborum Features Include:</h2>
                <ul>
                    <li>Bootstrap 3 Framework</li>
                    <li>Mobile Responsive Design</li>
                    <li>Predefined File Paths</li>
                    <li>Working PHP Contact Page</li>
                    <li>Minimal Custom CSS Styles</li>
                    <li>Unstyled: Add Your Own Style and Content!</li>
                    <li>Font-Awesome fonts come pre-installed!</li>
                    <li>100% <strong>Free</strong> to Use</li>
                    <li>Open Source: Use for any project, private or commercial!</li>
                </ul>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <img style="margin-top:20px" class="img-responsive" src="resources/topcontent.jpg">
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>

