<div class="container">

    <div class="row">

        <div class="col-lg-12 dacian">
            <h1 class="page-header">Links</h1>
			<ol class="breadcrumb">
                <li><a href="../index.html">Home</a>
                </li>
                <li class="active">Links</li>
            </ol>
        </div>

    </div>

    <div class="row">

        <div class="col-lg-12">
   <p>Here's a list of links of different categories for you that is relevant to <em>Europa Barbarorum 2</em> and the period's history. Enjoy!!</p>
<p>If you have a link you think should be on our list, drop an <a href="mailto:webmaster@europabarbarorum.com?subject=Suggestion to EB Links">e-mail</a> to us.</p>

<hr width="100%" size="2" color="#c48a21" noshade="">

<small><em>Europa Barbarorum 2</em> takes no responsibility for the content on other websites. And remember that the best sources on history are in books!!</small>

<h3>Total War Community</h3>
<a href="http://www.totalwar.com"><b>TotalWar.com</b></a> - The official Total War-series website<br>
<a href="http://www.totalwar.org"><b>TotalWar.org</b></a> - One of the most popular fansites!!<br>
<a href="http://www.twcenter.net"><b>TotalWar Center</b></a> - Another of the most popular fansites!!<br>

<h3>Armies, Tactics &amp; Warriors</h3>
<a href="http://www.romanarmy.com/cms/"><b>Romanarmy.com</b></a> - Website dedicated to the Roman Army<br>
<a href="http://www.clickfire.com/viewpoints/articles/political/elephants.php"><b>Military Use of Elephants in the Greek and Roman Period</b></a><br>
<a href="http://www.holycross.edu/departments/classics/dawhite/"><b>Greek Hoplite Warfare</b></a><br>
<a href="http://www.cais-soas.com/CAIS/Military/parthian_army.htm#_ftn145"><b>Parthian Army</b></a> - Short overview of Parthian military tactics<br>
<a href="http://www.mcs.drexel.edu/%7Ecrorres/Archimedes/Siege/Summary.html"><b>Siege of Syracuse</b></a> - The siege of Syracuse shown with texts from the classical authors<br>
<a href="http://members.aol.com/_ht_a/skyelander/celts2.html"><b>Ancient Celtic Warriors - La Tene Culture</b></a> - Page with info on the Celtic warriors<br>
<a href="http://www.gemina.nl/English/abriefhistory.htm"><b>The Roman Army</b></a> - A brief overview of the Roman army<br>
<a href="http://members.tripod.com/~S_van_Dorst/legio.html"><b>The Roman Army page</b></a> - Sander van Dorst site on the roman army, the only place in the web where Arrian's Array Against the Alans can be found<br>

<h3>Weaponry &amp; Equipment:</h3>
<a href="http://www.student.utwente.nl/%7Esagi/artikel/ancient_composites/"><b>Ancient Composite Bows</b></a><br>
<a href="http://www.ritsumei.ac.jp/se/%7Eluv20009/Greek_shield_patterns_1.html"><b>Classical Greek Shield Patterns</b></a><br>
<a href="http://www.mlahanas.de/Greeks/RepCatapult.htm"><b>Repeating Catapult</b></a><br>
<a href="http://www.gallica.co.uk/celts/chariot.htm"><b>Celtic Chariots</b></a><br>
<a href="http://www.atarn.org/chinese/scythian_bows.htm"><b>Scythian Bows</b></a><br>
<a href="http://web.archive.org/web/20040205053411/webpages.charter.net/brueggeman/fighting.html"><b>Elements of Roman fighting: Sword or Spear?</b></a> - Analysis on what Roman Legionaries used<br>
<a href="http://www.slinging.org/articles.htm"><b>Slinging.org</b></a> - An entire website dedicated just to the sling!<br>
<a href="http://www.africasbowhunter.com/ancient.htm"><b>The bow and arrow - ancient weapon in modern times</b></a> - Article on one of the most used weapons in history<br>
<a href="http://www.romancoins.info/MilitaryEquipment-Attack.html"><b>Roman Military Equipment</b></a> -  Weapons - Gladius, Spatha<br>
<a href="http://www.redrampant.com/roma/weapons.html"><b>Roman Weapons</b></a> - A small guide to different Roman weaponry<br>
<a href="http://198.144.2.125/Siege/OtherSiegeEngines/OtherSiegeEngines.htm"><b>Siege Artillery of all Types</b></a> - Images of different types of artillery pieces<br>
<a href="http://www.gallica.co.uk/celts/war2.htm"><b>Explore a Celtic Warrior</b></a> - Interactive page with info regarding Celtic equipment<br>

<h3>Coinage:</h3>
<a href="http://www.lawrence.edu/dept/art/buerger/catalogue/059.html"><b>Ptolemy V Epiphanes</b></a> - Coin showing the fifth Macedonian Pharaoh<br>
<a href="http://www.bio.vu.nl/home/vwielink/WWW_MGC/Punic_map/Zeugitana_map/Zeugitana.html"><b>Carthaginian Coinage</b></a> - Coins from Zeugitania<br>
<a href="http://www.wildwinds.com/coins/greece/scythia/i.html"><b>Ancient Coins of Scythia</b></a><br>
<a href="http://www.kernunnos.com/culture/warriors/"><b>Celtic Warriors</b></a> - Page showing coins of Celtic warriors<br>

<h3>Historical Information Sites</h3>
<a href="http://www.wikipedia.org"><b>Wikipedia</b></a> - A free-content encyclopedia. Surprisingly good.<br>
<a href="http://www.roman-empire.net/"><b>The Roman Empire</b></a> - The leading web-resource of ancient Rome<br>
<a href="http://parthia.com/"><b>Parthia.com - History and Coins of Ancient Parthia</b></a> - Website with much information on Parthia<br>
<a href="http://www.celticgrounds.com/"><b>Celticgrounds.com</b></a> - Website containing a wealth of information regarding Celts<br>
<a href="http://www.uwm.edu/Dept/celtic/ekeltoi/"><b>e-Keltoi</b></a> - Journal of Interdisciplinary Celtic Studies<br>
<a href="http://www.ancientlibrary.com/smith-bio/index.html"><b>Smith's Dictionary of Greek and Roman Biography and Mythology</b></a> - Enormous amount of information<br>
<a href="http://www.perseus.tufts.edu/cgi-bin/ptext?doc=Perseus%3Atext%3A1999.04.0064"><b>Smith's Dictionary of Greek and Roman Geography</b></a> - Useful resource, but somewhat dated<br>
<a href="http://www.stoa.org/diotima/"><b>Diotima</b></a> - Women &amp; Gender in the ancient world<br>
<a href="http://www.fordham.edu/halsall/ancient/arabia1.html"><b>Arabia before Islam</b> - Ancient accounts of Arabia</a><br>
<a href="http://www.und.ac.za/und/classics/india/india.html"><b>The Ancient Mediterranean and India</b></a> - Many accounts on ancient India<br>
<a href="http://www.stoa.org/athens/"><b>The Ancient City of Athens</b></a><br>
<a href="http://www.unc.edu/courses/rometech/public/frames/art_set.html"><b>Ancient Roman Technology</b></a><br>
<a href="http://www.ffil.uam.es/equus/warmas/"><b>Weapons &amp; Rites of the Iberians</b></a> - <i>(Spanish)</i><br>
<a href="http://www.ostia-antica.org/"><b>Ostia</b></a> - A website dedicated to the harbour of Rome.<br>
<a href="http://sights.seindal.dk/sight/1_Italy.html"><b>Italy. Three millenia of history and culture</b></a><br>
<a href="http://www.utexas.edu/depts/classics/links.html"><b>Classics Links</b></a><br>
<a href="http://www.fordham.edu/halsall/ancient/asbookmovies.html"><b>Ancient History in the Movies</b></a><br>
<a href="http://www.exclassics.com/martyrdom/martcnts.htm"><b>Martyrdom of Man</b></a> - Brief histories about ancient people<br>
<a href="http://www.crystalinks.com/nubia.html"><b>Nubia</b></a> - Page with info about the Nubians<br>
<a href="http://www.roman-britain.org/tribes/tribes.htm"><b>British Celtic Tribes</b></a> - Interactive page showing where the celtic tribes lived<br>
<a href="http://www.tartanplace.com/tartanlegend/celtictribeseur.html"><b>Celtic Tribes of Europe List</b></a><br>
<a href="http://www.stoa.org/trajan/"><b>Trajan's Column</b></a> - Pages with information regarding the column<br>
<a href="http://penelope.uchicago.edu/Thayer/E/Roman/home.html"><b>Lacus Curtius</b></a> - Great site with douzends of ancient sources about roman history<br>

<h3>Ancient Authors &amp; Literature</h3>
<a href="http://www.attalus.org/index.html"><b>Attalus.org</b></a> - Greek and Roman history 320 - 54 B.C.<br>
<a href="http://www.forumromanum.org/index2.html"><b>Forum Romanum</b></a> - Online Resource for Roman texts<br>
<a href="http://www.livius.org/home.html"><b>Livius</b></a> - Wealth of information regarding ancient history<br>
<a href="http://sunsite.berkeley.edu/OMACL/"><b>The Online Medieval and Classical Library</b></a> - A collection of some of the most important literary works of Classical and Medieval civilization.<br>
<a href="http://www.perseus.tufts.edu/"><b>Perseus Digital Library</b></a> - Contains a wealth of information on the classical times<br>
<a href="http://www.fordham.edu/halsall/"><b>Internet History Sourcebook Projects</b></a> - Good collection of old historical texts<br>

<h3>Famous Persons:</h3>
<a href="http://www.fenrir.dk/history/bios/scipio/"><b>Publius Cornelius Scipio Africanus (236-184)</b></a> - Lots of info on the only general who defeated Hannibal<br>
<a href="http://viriato.netfirms.com/"><b>Viriato: Warrior-Chieftain of the Lusitans</b></a> - Page dedicated to the Lusitanian hero<br>

<h3>Religion &amp; Mythology</h3>
<a href="http://www.loggia.com/myth/myth.html"><b>Mythography</b></a> -  Exploring Greek, Roman, and Celtic Mythology and Art<br>
<a href="http://www.novaroma.org/calendar/index.html"><b>Religio Romana</b></a> - Calendar of Holidays and Festivals<br>
<a href="http://www.ffil.uam.es/antigua/piberica/santuarios/indice.htm"><b>Religion,Rite &amp; Ritual during the Peninsular Proto-History</b></a> - The religious phenomenon in Iberian culture.<i>Spanish</i><br>
<a href="http://libro.uca.edu/mckenna/pagan1.htm"><b>Paganism and Christianity in Spain</b></a> - Before the Council of Elvira<br>

<h3>Languages of Antiquity</h3>
<a href="http://www.webpersonal.net/jrr/index.htm"><b>Iberian Epigraphy Page</b></a> - Information on Iberian languages<br>
<a href="http://compute-in.ku-eichstaett.de:8888/pls/epigr/epigraphik"><b>Epigraphik Datenbank</b></a> - Extensive database with Roman inscriptions from all parts of the empire (completly in latin).<i>German</i><br><br>

<h3>Maps:</h3>
<a href="http://www.unc.edu/awmc/mapsforstudents.html"><b>Ancient World Map Center</b></a><br>
<a href="http://darkwing.uoregon.edu/~atlas/europe/maps.html"><b>Historical Atlas Resouce - Europe</b></a><br>
<a href="http://www.dalton.org/groups/rome/RMAPS.html"><b>Roman Maps</b></a><br>
<a href="http://www.henry-davis.com/MAPS/AncientWebPages/AncientL.html"><b>Index of Cartographic Images</b></a> - Illustrating maps from the Ancient Period<br>
<a href="http://www.arqueotavira.com/Mapas/Iberia/Populi.htm"><b>Ethnographic Map of Pre-Roman Iberia</b></a> - Tribal groups in Iberia around 200 BC. <i>Image text in Spanish.</i><br>
<a href="http://www.kessler-web.co.uk/History/FeaturesBritain/BritishMap.htm"><b>Map of Post-Roman Britain</b></a> - Showing the geopolitical layout after the Roman legions left.<br>
<a href="http://www.romancoins.info/Tabula-Peutingeriana.html"><b>Tabula Peutingeriana</b></a> - Late Roman road map showing the roads and distances across the Roman Empire <br>
<a href="http://www.acs.ucalgary.ca/%7Evandersp/Courses/maps/basicmap.html"><b>Map of the Roman Empire</b></a> - The empire at its greatest extent. Third century AD<br>

<h3>Image Galleries</h3>
<a href="http://history.missouristate.edu/jchuchiak/HST%20101--Lecture%204--Greek%20Warfare%20and%20Army.htm"><b>Classical Greek Militay</b></a> - Images of classical Greek military units &amp; technology<br>
<a href="http://home.earthlink.net/%7Easatru/symbols/menu.html"><b>Heathen Symbols Menu</b></a> - Site containing Celtic &amp; Germanic symbols &amp; motiffs<br>
<a href="http://www.unc.edu/celtic/"><b>Celtic Art and Cultures</b></a> - Good site containing wealth of info and images on the Celts<br>
<a href="http://etext.lib.virginia.edu/users/morford/augimage.html"><b>Augustus: Images of Power</b></a> - Images of means the first true Roman emperor used to project his glory<br>
<a href="http://www.dacia.org/Dacian_Virtual_Museum/The_Dacians/the_dacians.html"><b>Dacia Virtual Museum</b></a> - Images of Getai statues and art<br>
       
</div>
</div>
    </div>

</div>
<!-- /.container -->